@{
	ViewData["Title"] = "Clients";
}

<section id="clients">
	<header>
		<h2>@ViewData["Title"]</h2>
		<button type="button" class="btn btn-add btn-blue">Add Client</button>
	</header>
	
	<div class="surface">
		@* @await Html.PartialAsync("_ClientList") *@
		<partial name="Partials/Sections/_ClientList" />
	</div>
</section>