@{
	ViewData["Title"] = "Clients";
}


<partial name="Partials/Sections/_AddClientModal" />
<partial name="Partials/Sections/_EditClientModal" />

<section id="clients">
	<header>
		<h2>@ViewData["Title"]</h2>
		<button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-add btn-blue">Add Client</button>
	</header>
	
		<partial name="Partials/Sections/_ClientList" />
</section>