@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="team" class="page">
    <div class="page-header">
        <h1>Status</h1>
        <button class="btn btn-add" id="add-client-button" type="button" data-type="modal"
                data-target="#add-status-modal">
            <i class="fa-duotone fa-solid fa-plus"></i>
            <span>Add Status</span>
        </button>
    </div>
    <div class="divider"></div>
    <section id="status" class="status-list">
        <div class="card" data-type="tooltip" data-target=".status-description">
            <div class=" card-header">
                <p class="bubble gray"></p>
                <h6>Inactive</h6>
                <p class="status-description bubble hover-bubble hide">
                    Lorem ipsum dolor, sit amet
                    condrsectetur
                    adipisicing
                    eldgit.
                    Dolgforem, quasi! Lordfdem ipsum dolor adipisicing elit. Dolorem, quasi! Dolorem, quasi!
                </p>
            </div>
            <div class="card-footer">
                <button class="btn-more" type="button" data-type="dropdown" data-target=".status-dropdown">
                </button>
                <div class="dropdown status-dropdown">
                    <div class="dropdown-body">
                        <a class="dropdown-item" href="#" type="button" data-type="modal"
                           data-target="#edit-status-modal">
                            <i class="fa-duotone fa-solid fa-pencil"></i>
                            <span>Edit</span>
                        </a>
                        <div class="divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fa-duotone fa-solid fa-trash-can-xmark"></i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <div class="card" data-type="tooltip" data-target=".status-description">
            <div class=" card-header">
                <p class="bubble green"></p>
                <h6>Active</h6>
                <p class="status-description bubble hover-bubble hide">
                    Lorem ipsum dolor, sit amet
                    condrsectetur
                    adipisicing
                    eldgit.
                    Dolgforem, quasi! Lordfdem ipsum dolor adipisicing elit. Dolorem, quasi! Dolorem, quasi!
                </p>
            </div>
            <div class="card-footer">
                <button class="btn-more" type="button" data-type="dropdown" data-target=".status-dropdown">
                </button>
                <div class="dropdown status-dropdown">
                    <div class="dropdown-body">
                        <a class="dropdown-item" href="#" type="button" data-type="modal"
                           data-target="#edit-status-modal">
                            <i class="fa-duotone fa-solid fa-pencil"></i>
                            <span>Edit</span>
                        </a>
                        <div class="divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fa-duotone fa-solid fa-trash-can-xmark"></i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" data-type="tooltip" data-target=".status-description">
            <div class=" card-header">
                <p class="bubble yellow"></p>
                <h6>Paused</h6>
                <p class="status-description bubble hover-bubble hide">
                    Lorem ipsum dolor, sit amet
                    condrsectetur
                    adipisicing
                    eldgit.
                    Dolgforem, quasi! Lordfdem ipsum dolor adipisicing elit. Dolorem, quasi! Dolorem, quasi!
                </p>
            </div>
            <div class="card-footer">
                <button class="btn-more" type="button" data-type="dropdown" data-target=".status-dropdown">
                </button>
                <div class="dropdown status-dropdown">
                    <div class="dropdown-body">
                        <a class="dropdown-item" href="#" type="button" data-type="modal"
                           data-target="#edit-status-modal">
                            <i class="fa-duotone fa-solid fa-pencil"></i>
                            <span>Edit</span>
                        </a>
                        <div class="divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fa-duotone fa-solid fa-trash-can-xmark"></i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" data-type="tooltip" data-target=".status-description">
            <div class=" card-header">
                <p class="bubble red"></p>
                <h6>Cancelled</h6>
                <p class="status-description bubble hover-bubble hide">
                    Lorem ipsum dolor, sit amet
                    condrsectetur
                    adipisicing
                    eldgit.
                    Dolgforem, quasi! Lordfdem ipsum dolor adipisicing elit. Dolorem, quasi! Dolorem, quasi!
                </p>
            </div>
            <div class="card-footer">
                <button class="btn-more" type="button" data-type="dropdown" data-target=".status-dropdown">
                </button>
                <div class="dropdown status-dropdown">
                    <div class="dropdown-body">
                        <a class="dropdown-item" href="#" type="button" data-type="modal"
                           data-target="#edit-status-modal">
                            <i class="fa-duotone fa-solid fa-pencil"></i>
                            <span>Edit</span>
                        </a>
                        <div class="divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fa-duotone fa-solid fa-trash-can-xmark"></i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            status
        </div>
        <div class="card">
            status
        </div>
    </section>

</div>
