@using Domain.Dtos
@using WebApp.Models
@model EditClientFormData

<div id="editClientModal" class="modal">
	<div class="modal-content">

		<div class="modal-header">
			<h3>Edit Client</h3>
			<button type="button" class="btn-close" data-close="true" modal-target="#editClientModal"></button>
		</div>

		<form novalidate method="post" asp-action="Edit" asp-controller="Client">

			<input asp-for="Id" readonly type="hidden" />

			<div class="form-group">
				<label asp-for="Name"></label>
				<div class="field-group">
					<input asp-for="Name" type="text" />
					<span asp-validation-for="Name" class="field-validation-error"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Email"></label>
				<div class="field-group">
					<input asp-for="Email" type="email" />
					<span asp-validation-for="Email" class="field-validation-error"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="PhoneNumber"></label>
				<div class="field-group">
					<input asp-for="PhoneNumber" type="tel" />
					<span asp-validation-for="PhoneNumber" class="field-validation-error"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Location"></label>
				<div class="field-group">
					<input asp-for="Location" type="text" />
					<span asp-validation-for="Location" class="field-validation-error"></span>
				</div>
			</div>
			
			<button type="submit" class="btn btn-blue">Save</button>
		</form>
	</div>
</div> 