<div id="account-dropdown" class="dropdown">
    <div class="dropdown-header">
        <div class="account-name">
            <img class="round-image img-size-40" src="/images/users/user-template.svg"
                 alt="template avatar">
            <span>Pepe Gonzalez</span>
        </div>
    </div>
    <div class="dropdown-body">
        <label class="switch-label">
            <label for="darkModeToggle" class="dropdown-item">
                <i class="fa-duotone fa-solid fa-circle-half-stroke"></i>
                <span>Dark Mode</span>
            </label>
         <label class="switch">
                <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode">
                <span class="slider"></span>
            </label>
        </label>
    </div>
    <div class="divider"></div>
    <a class="dropdown-item" href="#">
        <i class="fa-duotone fa-solid fa-cog"></i>
        <span>Settings</span>
    </a>
    <a class="dropdown-item" href="#">
        <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
    </a>
</div>