@*
    TODO: Change the ID of the dropdown to be dinamic - unique for each project/client/status/member
   *@
@{
}
<div id="project-dropdown" class="dropdown">
    <div class="dropdown-body">
        <a class="dropdown-item" href="#" type="button" data-type="modal"
           data-target="#edit-project-modal">
            <i class="fa-duotone fa-solid fa-pencil"></i>
            <span>Edit</span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#">
            <i class="fa-duotone fa-solid fa-trash-can-xmark"></i>
            <span>Delete</span>
        </a>
    </div>
</div>