<section class="logotype">
    <a class="alpha-logotype" href="@Url.Content("~/")">
        <img class="img-size-40" src="~/images/AlphaLogotypeIcon.svg" alt="Alpha Portal">
        <span>alpha</span>
    </a>
</section>