<a class="notification-item" href="#">
    <img class="round-image img-size-48" src="~/images/users/user-template.svg"
         alt="template avatar">
    <div class="notification-text">
        <span>Rodrigo Perez</span>
        <span>added</span>
    </div>
    <div class="notification-time-text">1 min ago</div>
    <button class="btn-close"></button>
</a>