@{
	Layout = "_CleanLayout";
	ViewData["Title"] = "Register";
}

<div class="center-screen">
	<div class="surface">
		Form to register
		<button class="btn btn-blue">@ViewData["Title"]</button>
	</div>
</div>
